@use "mixin" as m;
html{
	font-size: 62.5%;
}
// flex中央
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
// リンクボタン
.LinkButton{
	padding: 40px 0;
	font-size: 2rem;
	width: 250px;
	margin: 10%;
	&::after{
		position: absolute;
		content: "";
		width: calc(100% - 7px);
		height: calc(100% - 7px);
		border: #fff 2px solid;
		border-radius: 8px;
	}

}